spring:
  application:
    name: backend
  datasource:
    url: ${DB_URL:jdbc:mysql://db-erp.mysql.database.azure.com/db_ventas}
    username: ${DB_USER:ventas_user}
    password: ${DB_PASS:fisi123}
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:none}
    show-sql: ${SPRING_JPA_SHOW_SQL:false}
    properties:
      hibernate:
        format_sql: ${SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL:false}
server:
  port: ${PORT:8080}
  forward-headers-strategy: framework
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized
springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /docs
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    # Usar especificación OpenAPI personalizada
    #url: /openapi.yml
  show-actuator: false
sendgrid:
  api:
    key: ${SENDGRID_API_KEY:}

logging:
  file:
    name: logs/backend.log
    max-size: 10MB

  level:
    # Nivel Raíz (Mantener limpio el ruido de Spring Framework)
    root: WARN

    com.venta.backend: INFO
// ventas